.diskContainer {
  width: 25%;
  height: initial;
  max-width: 300px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.diskAdd {
  width: 100%;
  display: flex;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.diskAdd:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.addLink {
  border: none;
  border-radius: 40px 0 0 40px;
  padding: 8px 20px;
  width: 100%;
}

.addLink:focus {
  outline: none;
}

.addBtn {
  border: none;
  border-radius: 0 40px 40px 0;
  padding: 8px;
  width: 40px;
  display: flex;
  justify-content: center;
  font-size: large;
  background-color: #62d2a2;
  color: #fff;
}

.diskList {
  width: 100%;
  height: 100%;
  margin: 20px 0;
  overflow: auto;
}

.diskCard {
  background-color: #e4f9f5;
  margin: 5px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.diskCard:hover {
  margin: 5px 1px;
  transition: margin 0.3s;
}

.diskName {
  width: 100%;
  padding: 8px;
  font-size: large;
  text-align: center;
  overflow: hidden;
}

.scanBtn,
.removeBtn {
  width: 40px;
  color: white;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.scanBtn {
  background-color: #62d2a2;
  animation: 0.25s slide-right;
}

.removeBtn {
  background-color: red;
  animation: 0.25s slide-left;
}

@keyframes slide-right {
  from {
    margin-left: -50%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes slide-left {
  from {
    margin-right: -50%;
  }
  to {
    margin-right: 0%;
  }
}

.buttonGroup {
  display: flex;
}

.scanLoading,
.scanAllBtn,
.checkAllBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre;
}

.scanAllBtn,
.checkAllBtn {
  font-size: large;
  padding: 10px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.scanAllBtn {
  width: 100%;
  background-color: #62d2a2;
  color: white;
}

.checkAllBtn {
  width: 50px;
  background-color: #f4d160;
  margin-left: 10px;
}

.scanAllBtn:hover,
.checkAllBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.scanAllBtn:disabled,
.checkAllBtn:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

@media screen and (max-width: 1200px) {
  .diskContainer {
    width: 90%;
    max-width: 500px;
    margin: auto;
    height: 35vh;
  }
}
