.diskContainer {
  width: 25%;
  height: initial;
  max-width: 300px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.diskAdd {
  width: 100%;
  display: flex;
}

.addLink {
  border: none;
  border-radius: 40px 0 0 40px;
  padding: 8px 20px;
  width: 100%;
}

.addLink:focus {
  outline: none;
}

.addBtn {
  border: none;
  border-radius: 0 40px 40px 0;
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  font-size: large;
  background-color: #62d2a2;
  color: #fff;
}

.diskList {
  width: 100%;
  height: 100%;
  margin: 20px 0;
  overflow: auto;
}

.diskCard {
  background-color: #e4f9f5;
  margin: 5px 0;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
}

.diskName {
  width: 100%;
  padding: 8px;
  font-size: large;
  text-align: center;
  overflow: hidden;
}

.Btn {
  width: 20px;
  color: white;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.scanBtn {
  background-color: #62d2a2;
  animation: 0.4s slide-right;
}

.removeBtn {
  background-color: red;
  animation: 0.4s slide-left;
}

@keyframes slide-right {
  from {
    margin-left: -50%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes slide-left {
  from {
    margin-right: -50%;
  }
  to {
    margin-right: 0%;
  }
}

.scanAllBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #62d2a2;
  font-size: large;
  color: white;
  padding: 10px 0;
  border-radius: 6px;
}

.checkAllBtn {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  background-color: #f4d160;
  padding: 0 10px;
  margin-left: 10px;
  border-radius: 6px;
}

@media screen and (max-width: 1200px) {
  .diskContainer {
    width: 95%;
    max-width: none;
    margin: 20px 0;
  }
}
