.searchContainer {
  padding: 10px;
}

.searchBox {
  width: 25%;
  margin: 0 20%;
  border-radius: 40px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.searchBox:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search {
  border-radius: 40px 0 0 40px;
  padding: 10px 30px;
  width: 100%;
  border: none;
  transition: width 1s;
}

.search:focus {
  outline: none;
}

.searchButton {
  background-color: #62d2a2;
  color: #fff;
  border-radius: 0 40px 40px 0;
  padding: 10px;
  width: 40px;
  display: flex;
  font-size: large;
}

@media screen and (max-width: 1200px) {
  .searchBox {
    width: 80%;
    margin: auto;
  }
}
