* {
  margin: 0;
  padding: 0;
}

.App {
  background: linear-gradient(180deg, #bbe1fa -30.56%, rgba(232, 236, 255, 0) 135.85%);
  height: 100vh;
  margin: auto;
}

.Container {
  width: 85%;
  height: 90vh;
  margin: auto;
  display: flex;
  padding: 0 20px;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 1200px) {
  .Container {
    width: 100%;
    flex-direction: column;
  }
}
