* {
  margin: 0;
  padding: 0;
}

.App {
  background: linear-gradient(180deg, #bbe1fa -30.56%, rgba(232, 236, 255, 0) 135.85%);
  height: 100vh;
  margin: auto;
}
.Container {
  width: 85%;
  height: 90vh;
  margin: auto;
  display: flex;
  padding: 0 20px;
}

@media screen and (max-width: 1200px) {
  .Container {
    width: 100%;
    flex-direction: column;
  }
}
