.dgrid {
  background: linear-gradient(180deg, #91c8e4 -30.56%, rgba(232, 236, 255, 0) 135.85%);
  border-radius: 6px;
  padding: 40px 10px;
  width: 75%;
  height: 85vh;
  transition: padding 1s, margin 1s;
}

.searchBox {
  display: flex;
}

.search {
  border-radius: 40px 0 0 40px;
  padding: 10px 30px;
  width: 380px;
  border: none;
  transition: width 1s;
}

.search:focus {
  outline: none;
}

.searchButton {
  background-color: green;
  color: #fff;
  border-radius: 0 40px 40px 0;
  padding: 10px;
  width: 40px;
  display: flex;
  font-size: large;
}

@media screen and (max-width: 1200px) {
  .dgrid {
    margin: 0 20px;
    padding: 40px 40px;
    transition: padding 1s, margin 1s;
  }
  .search {
    width: 300px;
    transition: width 1s;
  }
}

@media screen and (max-width: 800px) {
  .dgrid {
    margin: 0 5px;
    padding: 40px 10px;
    transition: padding 1s, margin 1s;
  }
  .controls {
    flex-direction: column;
  }
}
