.dgrid {
  background: linear-gradient(180deg, #38969b -30.56%, rgba(232, 236, 255, 0) 135.85%);
  border-radius: 6px;
  width: 100%;
  height: initial;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .dgrid {
    margin: 20px 0;
    height: 50vh;
  }
}
